node_modules/
src/config/config.development.js
src/config/config.test.js
src/config/config.production.js
config/config.js
config/app.json
logs/*
.jshintrc
/nbproject/private/
npm-debug.log*
**/*.log
/coverage
/public/images/
/public/1/
/nbproject/
/node_modules_ant/
*.log
public/proyectos/*
config/config.js
src/libs/config.development.js
src/libs/config.test.js
.idea/
proyectoLey.pdf
pruebas.json
public/apidoc
alias.sh
files/
.vscode/
src/routes/promueve/prueba.js
jsreport-temp/
uploads/**/*.pdf
uploads/**/*.png
uploads/**/*.gif
uploads/**/*.jpg
uploads/**/*.jpeg
uploads/**/*.csv
src/routes/promueve/borrar.js
gitlive.sh
src/reports/nim/
src/reports/rum/
